* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    height: 600px;
    width: 400px;
    border: 3px solid black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.calc-field {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    height: 50px;
    border: 3px solid black;
}

.calc-body {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.digits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 42px;
    flex-grow: 2;
}

.digit-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
}

.operations>.button {
    padding-left: 3px;
    font-weight: 700;
}

.button {
    height: 50px;
    width: 50px;
    flex-basis: 50px;
    border: 3px solid black;
    overflow-wrap: break-word;
}

.digit {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}